.PlayerBox {
	width: 30.3%;
	display: inline-flex;
	flex-direction: column;
	margin-right: 3%;
	border-radius: 10px;
	margin-bottom: 	40px;
	cursor: pointer;
}
.PlayerBox__image {
	width: 100%;
	width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    position: relative;
	img { 
		border-radius: 5px;
		width: 100%;
	    top: -32px;
	    position: relative;
	}

	svg {
		position: absolute;  
		top: calc(50% - 50px);
	    left: calc(50% - 50px);
	    width: 100px;
	    height: 100px;
	    fill: rgba(0, 0, 0, 0.8);

	}
}

.PlayerBox__container {
	display: flex;
	color : #47525E;
	align-items: center;
}


.PlayerBox__title { 
	min-height: 80px;
}

.PlayerBox__container__views, .PlayerBox__container__likes { 
	margin-right: 30px;
	display: flex;
	align-items: center;
	font-weight: 600;

	svg { 
		margin-right: 10px; 
	}
}

.licked {
	 fill: #cc1111 !important;
}