.header {
	width: 100%;
	padding: 60px 0;
	background-color: #29303B;
}

.search-input { 
	width: 60%;
 }
.header__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}
.header__content__box {
	display: flex;
	align-items: center;
	margin-top: 20px;
	input { 
		&:nth-child(1) {
			margin-right: 20px;
		}
	}
}
.header__hat {
	display: block;
	color : #fff;
	margin-bottom: 20px;
	font-weight: 400;
	span { 
		font-weight: 600;
		font-size: 35px;
	}
}