.search-input {
	width: 500px;
	margin-right: 40px;
	border-radius: 5px;
	border : none;
	height: 55px;
	color: #969FAA;
	text-indent: 40px;
	font-size: 18px; 

	&::placeholder {
		color: #969FAA;
		text-indent: 40px;
		font-size: 18px; 
		position: relative;
		top: 5%;
	}
}