.button {
	padding:  15px 30px;
	text-align: center;
	border: 1px solid #ccc;
	color : #47525E;
	cursor : pointer;
	font-weight: 600;
	border-radius : 2px;
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-size : 18px;
	box-sizing: content-box;
	background-color: #fff;

	&:nth-child(2) {
		background-color: unset;
		color: #fff;
	}
}