.button {
	padding:  15px 80px;
	text-align: center;
	border: 1px solid #ccc;
	color : #47525E;
	cursor : pointer;
	border-radius:  8px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size : 18px;
}